<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/jnote">
		</property>
		<property name="username" value="jnote"></property>
		<property name="password" value="123"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/jnote/vo/User.hbm.xml</value>
				<value>com/jnote/vo/Folder.hbm.xml</value>
				<value>com/jnote/vo/MdFile.hbm.xml</value>
				<value>com/jnote/vo/UserInfo.hbm.xml</value>
			</list>
		</property></bean>
	<bean id="UserDAO" class="com.jnote.dao.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="FolderDAO" class="com.jnote.dao.FolderDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="MdFileDAO" class="com.jnote.dao.MdFileDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserInfoDAO" class="com.jnote.dao.UserInfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- service bean  -->
	<bean id="UserService" class="com.jnote.service.impl.UserService">
		<property name="userDao">
			<ref bean="UserDAO"/>
		</property>
	</bean>
	
	<bean id="ServiceManager" class="com.jnote.service.impl.ServiceManager">
		<property name="userService">
			<ref bean="UserService"/>
		</property>
	</bean>
	
	<bean id="RegisterAction" class="com.jnote.action.RegisterAction" scope="prototype">
	</bean>
	
	<bean id="LoginAction" class="com.jnote.action.LoginAction" scope="prototype">
	</bean>
	
</beans>