
.row-above{
}

container-fluid{
	padding_right:0px;
	padding-left:0px;
	height:100%;
}

.a-list{
	border:0px;
}

.col-above{
	padding:0;
	padding-top:3px;
}

navbar-above-margin{
	margin-right:0px;
}

.list-firstDir{
	
}

.breadcrumb-crumbs{
	margin:0;
	padding:0;
}

.btn-backg{
	background-color:#F5F5F5;
	border-color:#F5F5F5;
	color:#000;	
}

.rootFolderList-div{
	height:78%;
	overflow:auto;
	position: relative;
	border:1px solid #F5F5F5
}

.childList-div{
	height:78%;
	overflow:auto;
	position: relative;
	border:1px solid #F5F5F5
}

.mdTitle-input{
	width:60%;
}
